.idea/
.env
/angular/dist/
!angular/dist/.gitkeep
/public/app/
!public/app/.htaccess
var/
vendor/

###> symfony/webpack-encore-bundle ###
/node_modules/
/public/build/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###

###> lexik/jwt-authentication-bundle ###
/config/jwt/*.pem
###< lexik/jwt-authentication-bundle ###
